* 
{
    padding: 0;
    margin: 0;
   
}

body
{
    height: 2000;
}

:root
{
    --bg: rgba(22, 56, 90, 0.267);
    --primary: rgba(255, 212, 94, 0.533);
}

.container
{
    padding: 30px;
    font-family: 'Poppins', sans-serif;

   
}

.container .title a
{
    font-size: 4rem;
    margin-bottom: 15px;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 10px;
}

.container .title span
{
    color: var(--primary);
}

.container .navigation a
{
   display: inline-block;
   padding: 0 150 25 10;
   text-decoration: none;
   color: black;
   font-size: 1.5rem;
}

.container .navigation a:hover
{
    color: var(--primary);
}

/* Hero Style */
.hero div
{
    height: 300px;
    /* background-image: url('../images/kobo.png'); */
    background-size: cover;
    background-position: 0 -100px;
    color: black;
    

}

.hero .content
{
    padding: 30px;
    display: flex;
    justify-content: center;
    color: black;
    /* border: 10px solid black; */
    align-items: center;
    margin-top: 250px;
    height: 10px;
    

}


.hero .con-info
{
    margin-top: 300px;
    padding: 30px;
}

.hero .con-info h2
{
    font-size: 30px;
    font-weight: bold;
}
